body {
  background: lightblue;
}
/* every box is this size */

.skyblue {
  background: deepskyblue;
}

.box{
  padding: 10px;
  background: white;
  margin-top:50px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:20px;
  align-content: center;
}
